ul{
    list-style-type: none;
    margin: 0;
    background-color: rgb(232, 169, 92);
    padding: 0;
    overflow: scroll;
}
li  :hover{
    background-color: rgb(157, 85, 225);
}
li a{
    display: block;
    color: rgb(4, 37, 67);
    text-align: center;
    padding: 12px 17px;
}
li{
    float: left;
}