form{
    padding: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 1%;
    border : 2px solid;
    color: black;
    background-color: aliceblue;
    width: 50%;
    
}
h1{
    color: black;
    background-color: blanchedalmond;
    text-align: center;
    border: 1%;
    width: 50%;
    margin-left: 14%;

}
button{
    margin: 50px;
    background-color: black;
}
label{
    display: inline-block;
    width: 100px;
    text-align: left ;
}


