/* h1{
    color: yellow;
}
p{
    color: blue;
}
button{
    color: brown;
    background-color: aqua;
}
body{
    background-color:#ff0000;
} */
/* *{
    color: pink;
}
h1{
    color: red;
}
button{
    color: blue;
}
#HeadingOne{
    color: chartreuse;
}
#HeadingTwo{
    color: chocolate;
}
.myClass{
    color: magenta;
} */
p{
    text-align: right;
}